html, body {
	background-color: #25aaa0;
	font-family: Trebuchet MS;
}

.nationalPark {
	height: 400px;
}

.nationalPark:nth-child(2n + 2) {
	border-left: 3px solid #d93240;
}

.nationalPark > img {
	max-width: 50%;
	height: auto;
}

.description {
	padding-top: 10px;
}

label {
	margin:  15px 15px;
	float: left;
	text-align: right;
	width: 100px;
}

textarea {
	margin: 15px 5px;
}

ul {
	list-style-type: none;
	text-align: left;
}

ul li {
	margin-top: 4px;
	margin-bottom: 4px;
}

.nationalPark > h4 {
	text-align: center;
	text-decoration: underline;
}

h1 {
	text-align: center;
	margin-bottom: 30px;
	padding-bottom: 20px;
	border-bottom: 5px solid #d93240
}