@import url(https://fonts.googleapis.com/css?family=Maven+Pro);

body {
	font-family: "Maven Pro";
}

ul {
	display: flex;
	flex-direction: column;
}
nav li {
	list-style-type: none;
}

.myButton {
	order: 4;
}

.box {
	border-bottom: 10px;
	border-bottom-style: dotted;
	border-bottom-color: red;
}

.wrapper {
	display: flex;
	flex-flow: flex-wrap;
	justify-content: space-between;
}

.container1 {
	min-height: 250px;
	max-width: 250px;
	background-color: teal;
	color: white;
	font-size: 3em;
	order: 1;
	text-align: center;
}

.container2 {
	min-height: 250px;
	min-width: 250px;
	font-size: 3em;
	background-color: salmon;
	color: blue;
	order: 2;
	text-align: center;
}

.container3 {
	min-height: 250px;
	min-width: 250px;
	font-size: 3em;
	background-color: Slategrey;
	color: black;
	order: 3;
	text-align: center;
}

.container4 {
	min-height: 250px;
	min-height: 250px;
	font-size: 3em;
	background-color: yellow;
	color: orange;
	order: 4;
	text-align: center;
}